#                 ██████╗ ██████╗ ██╗  ██╗
#                ██╔════╝██╔═══██╗██║  ██║
#                ██║     ██║   ██║███████║
#                ██║     ██║   ██║██╔══██║
#                ╚██████╗╚██████╔╝██║  ██║
#                 ╚═════╝ ╚═════╝ ╚═╝  ╚═╝
# 		  http://codeofhonor.tech


# Meticulus:
# Due to Huawei's nougat teec implementation these services need
# to run in very specific execution contexts. These are here
# prevent these services from running. Since kernel ramdisk
# rc files are parsed first, the ones defined in vendor/etc/init
# will be ignored. the keymaster service will be launched by
# /system/bin/keystore and the gatekeeper service will be
# lanched by /system/bin/gatekeeperd

service keymaster-3-0 /vendor/bin/hw/dummy_notexist
    class early_hal
    user system
    group system drmrpc
    disabled
    oneshot

service gatekeeper-1-0 /vendor/bin/hw/dummy_notexist
    class hal
    user system
    group system
    disabled
    oneshot

service meticulus_otg /sbin/metiotgd
    class late_start
    user root
    group root
    seclabel u:r:metiotg:s0

